div.browsewebsite {
    padding: 30px 10px 10px 10px;
    max-width: 500px;
    margin: auto;
    max-height: 400px;
    overflow: auto;
}

div.browsewebsite .browse-form {
    padding: 20px 0 0 0;
}

div.browsewebsite input:focus{
    outline: 0;
}

div.browsewebsite .browse-form .browse {
    display: flex;
    flex-direction: row;
}

div.browsewebsite .browse-form .browse input {
    flex: 1;
    padding: 10px;

    border: 2px solid #eee;
    border-radius: 0 0 0 5px;
    border-color: transparent transparent #eee #eee;
}

div.browsewebsite .browse-form .browse button {
    padding: 3px 10px;

    border: 2px solid #eee;
    border: none;

    cursor: pointer;
}

div.browsewebsite .browse-form .browse button:hover {
    background: rgb(6,137,243);
    color: #fff;
}

div.browsewebsite .cache-form .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

div.browsewebsite .cache-form .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

div.browsewebsite .cache-form .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

div.browsewebsite .cache-form .slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

div.browsewebsite .cache-form input:checked + .slider {
    background-color: rgb(6,137,243);
}

div.browsewebsite .cache-form input:focus + .slider {
    box-shadow: 0 0 1px rgb(6,137,243);
}

div.browsewebsite .cache-form input:checked + .slider:before {
    -webkit-transform: translateX(11px);
    -ms-transform: translateX(11px);
    transform: translateX(11px);
}

div.browsewebsite .cache-form .slider.round {
    border-radius: 17px;
}

div.browsewebsite .cache-form .slider.round:before {
    border-radius: 50%;
}